.reset-screen {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
}


.reset-card {
  background: white;
  width: 100%;
  max-width: 450px;
  border-radius: 20px;
  overflow: hidden; 
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
  text-align: center;
}


.reset-header {
  background: #f0f7ff; 
  padding: 40px 0;
  display: flex;
  justify-content: center;
}

.icon-circle {
  width: 60px !important;  
  height: auto !important;
  background-color: #f0f7ff !important;
  border-radius: 50% !important;
}

.icon-circle img {
  width: 60px !important;   
  height: auto !important;
}




.reset-body {
  padding: 30px 40px;
}

.reset-body h2 {
  font-size: 20px;
  color: #1e293b;
  margin-bottom: 15px;
  font-weight: 700;
}

.reset-body p {
  font-size: 13px;
  color: #64748b;
  line-height: 1.6;
  margin-bottom: 25px;
}

.reset-body p span {
  color: #004a99;
  font-weight: 600;
}

.contact-btn {
  width: 100%;
  padding: 12px;
  background: #003366;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; 
  margin-bottom: 20px;
  transition: 0.3s;
}

.btn-png-icon {
  width: 18px;
  height: auto;

  filter: brightness(0) invert(1);
  opacity: 0.9; 
}

.contact-btn:hover {
  background: #002244;
}

.contact-btn:hover .btn-png-icon {
  opacity: 1; 
}


.btn-png-icon {
  width: 18px; 
  height: auto;
  object-fit: contain;
}


.back-to-login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px; 
}


.return-png-icon {
  width: 14px; 
  height: auto;
  object-fit: contain;
}


.back-to-login {
  background: none;
  border: none;
  color: #004a99;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  padding: 0;
}

.back-to-login:hover {
  text-decoration: underline;
}

.reset-screen {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: space-between; 
}

.reset-main-content {
  flex: 1; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.reset-card {
  background: white;
  width: 100%;
  max-width: 450px; 
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

footer, .footer-container {
  width: 100% !important; 

}



@media (max-width: 768px) {
  .login-card {
    width: 90%;          
    max-width: 500px;    
    padding: 30px 40px; 
  }

  .main-logo {
    width: 85px;         
  }
}


@media (max-width: 480px) {
  .login-card {
    width: 92%;
    padding: 25px 20px;  
    border-radius: 15px; 
  }

  .welcome-text {
    font-size: 20px;     
  }

  .instruction {
    font-size: 12px;
  }

  .form-footer {
    flex-direction: column; 
    align-items: flex-start;
    gap: 12px;
  }

  .login-submit-btn {
    padding: 12px;       
  }
}